@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 80%;
    max-width: 768px;
    padding: 20px;
    text-align: center;
}

.producto-imagen {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.precio {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 13, 13);
    margin-bottom: 20px;
}

button {
    background-color: rgb(255, 13, 13);
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(200, 10, 10);
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}

#boton-inicio {
    background-color: #007bff; /* Azul */
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-inicio:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}
